# Ignore MTS video files
*.MTS

# But allow test data
!testdata/*.MTS

# dependencies (bun install)
node_modules

# output
out
dist
*.tgz

# code coverage
coverage
*.lcov

# logs
logs
_.log
report.[0-9]_.[0-9]_.[0-9]_.[0-9]_.json

# dotenv environment variable files
.env
.env.development.local
.env.test.local
.env.production.local
.env.local

# Credentials
credentials.json
token.json

# caches
.cache
*.tsbuildinfo
.direnv

# temporary files
tmp

# IntelliJ based IDEs
.idea

# Finder (MacOS) folder config
.DS_Store
